<a href="https://colab.research.google.com/github/egipot/100exercises_python/blob/main/89_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#89 Database filter

# Please download the database file (database.db).
# The file contains a table with 50 country names along with their area in square km and population.
# Please use Python to print out those countries that have an area of greater than 2,000,000.

In [45]:
import sqlite3

In [46]:
conn = sqlite3.connect("database.db")

In [47]:
cur = conn.cursor()

In [49]:
cur.execute("SELECT country FROM countries")

In [50]:
rows = cur.fetchall()

In [51]:
rows

[('Russia',),
 ('Canada',),
 ('United States of America',),
 ('China',),
 ('Brazil',),
 ('Australia',),
 ('India',),
 ('Argentina',),
 ('Kazakhstan',),
 ('Algeria',),
 ('Congo Dem Rep of the',),
 ('Greenland',),
 ('Saudi Arabia',),
 ('Mexico',),
 ('Indonesia',),
 ('Sudan',),
 ('Libya',),
 ('Iran',),
 ('Mongolia',),
 ('Peru',),
 ('Chad',),
 ('Niger',),
 ('Angola',),
 ('Mali',),
 ('South Africa',),
 ('Colombia',),
 ('Ethiopia',),
 ('Bolivia',),
 ('Mauritania',),
 ('Egypt',),
 ('Tanzania',),
 ('Nigeria',),
 ('Venezuela',),
 ('Namibia',),
 ('Pakistan',),
 ('Mozambique',),
 ('Turkey',),
 ('Chile',),
 ('Zambia',),
 ('Myanmar (Burma)',),
 ('Afghanistan',),
 ('South Sudan',),
 ('France',),
 ('Somalia',),
 ('Central African Republic',),
 ('Ukraine',),
 ('Botswana',),
 ('Madagascar',),
 ('Kenya',),
 ('Yemen',),
 ('Spain',),
 ('Turkmenistan',),
 ('Cameroon',),
 ('Papua New Guinea',),
 ('Uzbekistan',),
 ('Morocco',),
 ('Iraq',),
 ('Sweden',),
 ('Paraguay',),
 ('Japan',)]

In [55]:
print_db= [a for a in cur.execute("SELECT * FROM sqlite_master ")]
print(print_db)  # This will show the available table names

[('table', 'countries', 'countries', 2, 'CREATE TABLE countries (id INTEGER PRIMARY KEY, country text, area integer, population integer)')]

In [56]:
# Please use Python to print out those countries that have an area of greater than 2,000,000.
cur.execute("SELECT country FROM countries WHERE area >= 2000000")

In [57]:
filtered_rows = cur.fetchall()
filtered_rows

[('Russia',),
 ('Canada',),
 ('United States of America',),
 ('China',),
 ('Brazil',),
 ('Australia',),
 ('India',),
 ('Argentina',),
 ('Kazakhstan',),
 ('Algeria',),
 ('Congo Dem Rep of the',),
 ('Greenland',),
 ('Saudi Arabia',)]

In [58]:
conn.close()