<a href="https://colab.research.google.com/github/egipot/100exercises_python/blob/main/91_additional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Please download the database file database.db and the ten_more_countries.txt file.
# Then, add the rows of the text file to the database file.

# Hint: You need to use the SQL insert method here.

import sqlite3
import pandas as pd

In [2]:
more_countries = pd.read_csv('five_more_countries.txt')

In [3]:
conn = sqlite3.connect('database.db')

In [4]:
cur = conn.cursor()

In [5]:
for index, row in more_countries.iterrows():
  print(row["Country"], row["Area"])
  cur.execute("INSERT INTO countries (Country, Area) VALUES (?, ?)", (row["Country"], row["Area"]))

Asdf 341234
Qwerty 243307
Zxcvb 223487
Poiuy 142315
Lkjhg 124876

In [6]:
conn.commit()

In [7]:
#check the results:
result = cur.execute("SELECT * FROM countries").fetchall()
result

[(1, 'Russia', 17075200, 142833689),
 (2, 'Canada', 9984670, 35181704),
 (3, 'United States of America', 9826630, 320050716),
 (4, 'China', 9596960, 1385566537),
 (5, 'Brazil', 8511965, 200361925),
 (6, 'Australia', 7686850, 23342553),
 (7, 'India', 3287590, 1252139596),
 (8, 'Argentina', 2766890, 41446246),
 (9, 'Kazakhstan', 2717300, 16440586),
 (10, 'Algeria', 2381740, 39208194),
 (11, 'Congo Dem Rep of the', 2345410, 67513677),
 (12, 'Greenland', 2166086, 56987),
 (13, 'Saudi Arabia', 2149690, 28828870),
 (14, 'Mexico', 1972550, 122332399),
 (15, 'Indonesia', 1919440, 249865631),
 (16, 'Sudan', 1844729, 37964306),
 (17, 'Libya', 1759540, 6201521),
 (18, 'Iran', 1648000, 77447168),
 (19, 'Mongolia', 1564116, 2839073),
 (20, 'Peru', 1285220, 30375603),
 (21, 'Chad', 1284000, 12825314),
 (22, 'Niger', 1267000, 17831270),
 (23, 'Angola', 1246700, 21471618),
 (24, 'Mali', 1240000, 15301650),
 (25, 'South Africa', 1219912, 52776130),
 (26, 'Colombia', 1138910, 48321405),
 (27, 'Ethiopia', 1127127, 94100756),
 (28, 'Bolivia', 1098580, 10671200),
 (29, 'Mauritania', 1030700, 3889880),
 (30, 'Egypt', 1001450, 82056378),
 (31, 'Tanzania', 945087, 49253126),
 (32, 'Nigeria', 923768, 173615345),
 (33, 'Venezuela', 912050, 30405207),
 (34, 'Namibia', 825418, 2303315),
 (35, 'Pakistan', 803940, 182142594),
 (36, 'Mozambique', 801590, 25833752),
 (37, 'Turkey', 780580, 74932641),
 (38, 'Chile', 756950, 17619708),
 (39, 'Zambia', 752614, 14538640),
 (40, 'Myanmar (Burma)', 678500, 53259018),
 (41, 'Afghanistan', 647500, 30551674),
 (42, 'South Sudan', 644329, 11296173),
 (43, 'France', 643427, 64291280),
 (44, 'Somalia', 637657, 10495583),
 (45, 'Central African Republic', 622984, 4616417),
 (46, 'Ukraine', 603700, 45238805),
 (47, 'Botswana', 600370, 2021144),
 (48, 'Madagascar', 587040, 22924851),
 (49, 'Kenya', 582650, 44353691),
 (50, 'Yemen', 527970, 24407381),
 (51, 'Asdf', 341234, None),
 (52, 'Qwerty', 243307, None),
 (53, 'Zxcvb', 223487, None),
 (54, 'Poiuy', 142315, None),
 (55, 'Lkjhg', 124876, None)]

In [8]:
more_countries_orig = pd.read_csv('ten_more_countries.txt')

In [9]:
for index, row in more_countries_orig.iterrows():
  print(row["Country"], row["Area"])
  cur.execute("INSERT INTO countries (Country, Area) VALUES (?, ?)", (row["Country"], row["Area"]))

Spain 499401
Turkmenistan 488100
Cameroon 469440
Papua New Guinea 451709
Uzbekistan 447400
Morocco 446301
Iraq 433970
Sweden 411621
Paraguay 397301
Japan 394744

In [10]:
conn.commit()

In [11]:
#check the results:
result = cur.execute("SELECT * FROM countries").fetchall()
result

[(1, 'Russia', 17075200, 142833689),
 (2, 'Canada', 9984670, 35181704),
 (3, 'United States of America', 9826630, 320050716),
 (4, 'China', 9596960, 1385566537),
 (5, 'Brazil', 8511965, 200361925),
 (6, 'Australia', 7686850, 23342553),
 (7, 'India', 3287590, 1252139596),
 (8, 'Argentina', 2766890, 41446246),
 (9, 'Kazakhstan', 2717300, 16440586),
 (10, 'Algeria', 2381740, 39208194),
 (11, 'Congo Dem Rep of the', 2345410, 67513677),
 (12, 'Greenland', 2166086, 56987),
 (13, 'Saudi Arabia', 2149690, 28828870),
 (14, 'Mexico', 1972550, 122332399),
 (15, 'Indonesia', 1919440, 249865631),
 (16, 'Sudan', 1844729, 37964306),
 (17, 'Libya', 1759540, 6201521),
 (18, 'Iran', 1648000, 77447168),
 (19, 'Mongolia', 1564116, 2839073),
 (20, 'Peru', 1285220, 30375603),
 (21, 'Chad', 1284000, 12825314),
 (22, 'Niger', 1267000, 17831270),
 (23, 'Angola', 1246700, 21471618),
 (24, 'Mali', 1240000, 15301650),
 (25, 'South Africa', 1219912, 52776130),
 (26, 'Colombia', 1138910, 48321405),
 (27, 'Ethiopia', 1127127, 94100756),
 (28, 'Bolivia', 1098580, 10671200),
 (29, 'Mauritania', 1030700, 3889880),
 (30, 'Egypt', 1001450, 82056378),
 (31, 'Tanzania', 945087, 49253126),
 (32, 'Nigeria', 923768, 173615345),
 (33, 'Venezuela', 912050, 30405207),
 (34, 'Namibia', 825418, 2303315),
 (35, 'Pakistan', 803940, 182142594),
 (36, 'Mozambique', 801590, 25833752),
 (37, 'Turkey', 780580, 74932641),
 (38, 'Chile', 756950, 17619708),
 (39, 'Zambia', 752614, 14538640),
 (40, 'Myanmar (Burma)', 678500, 53259018),
 (41, 'Afghanistan', 647500, 30551674),
 (42, 'South Sudan', 644329, 11296173),
 (43, 'France', 643427, 64291280),
 (44, 'Somalia', 637657, 10495583),
 (45, 'Central African Republic', 622984, 4616417),
 (46, 'Ukraine', 603700, 45238805),
 (47, 'Botswana', 600370, 2021144),
 (48, 'Madagascar', 587040, 22924851),
 (49, 'Kenya', 582650, 44353691),
 (50, 'Yemen', 527970, 24407381),
 (51, 'Asdf', 341234, None),
 (52, 'Qwerty', 243307, None),
 (53, 'Zxcvb', 223487, None),
 (54, 'Poiuy', 142315, None),
 (55, 'Lkjhg', 124876, None),
 (56, 'Spain', 499401, None),
 (57, 'Turkmenistan', 488100, None),
 (58, 'Cameroon', 469440, None),
 (59, 'Papua New Guinea', 451709, None),
 (60, 'Uzbekistan', 447400, None),
 (61, 'Morocco', 446301, None),
 (62, 'Iraq', 433970, None),
 (63, 'Sweden', 411621, None),
 (64, 'Paraguay', 397301, None),
 (65, 'Japan', 394744, None)]

In [13]:
def check_db_connection(conn):
  try:
    conn.cursor
    return True
  except:
    return False

In [14]:
check_db_connection(conn)

True

In [15]:
conn.close()